<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Routing Index Page</title>
  </head>
  <body>
    <h1>Houses currently on the market</h1>
    <a href="/bids">Bids</a>
    <br />
    <a href="/">Add House</a><br />
    <a href="/">Delete House</a>
  </body>
</html>
