<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bids of Specific House Display</title>
  </head>
  <body>
    <h1>Bids of house displayed here</h1>
    <a href="/">Home</a>
    <br />
    <a href="/bids">Add Bid</a><br />
    <a href="/bids">Delete Bid</a>
  </body>
</html>
